.title
{
    color: white;
}
.movieCard
{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.5s;
}

.movieCard:hover
{
    opacity: 0.5;
    transform: translateY(-25px);
    
}

.movieImage
{
    border-radius: 15px;
    width: 100%;
 
}

@media (max-width: 560px)
{
    .movieImage
    {
        width: 90%;
        height: auto;
    }
}